{% extends 'base.html' %}

{% block title %}
Reset password
{% endblock %}

{% block content %}
{% load static%}
<body>

    <div class="container">
        <!-- Logo Placeholder (Replace 'your-logo-url.png' with actual logo URL) -->
        <img src="{% static 'image/mmustlogo.png' %}" alt="Logo" class="logo">

        <h2>Reset Password</h2>

        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div>
                  <input type="{{ field.field.widget.input_type|default:'text' }}" name="{{ field.name }}" placeholder="{{ field.label }}" required>

                </div>
            {% endfor %}
            <button type="submit">Reset Password</button>
        </form>
    </div>

</body>
{%endblock%}
