{% extends 'base.html' %}

{% block title %}
Confirm reset password
{% endblock %}

{% block content %}
{% load static%}
<body>

    <div class="container">
        <!-- Logo -->
        <img src="{% static 'image/mmustlogo.png' %}" alt="Logo" class="logo">

        <h2>Set New Password</h2>

        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div>
                    <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" placeholder="{{ field.label }}" required>
                </div>
            {% endfor %}
            <button type="submit">Change Password</button>
        </form>
    </div>

</body>
{% endblock %}

